:root{
    --primary: #000000;
    --secondary: #5cd2b9;
    --dark-1: #0c0c0c;
    --dark-2: #111111;
    --light-dark: #151515;
    --white: #ffffff;


    --global-padding: 185px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: var(--white);
}
a{
    text-decoration: none;
    
}
body{
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--primary);
}

nav{
    height: 15vh;
    padding: 30px var(--global-padding);
    background-color: var(--dark-2);
    
    .container{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo{
            width: 200px;
        }
        .icons{
            
            display: flex;
            justify-content: space-around;
            gap: 45px;

            font-size: 18px;
            
            .button{
                
                a{
                    font-weight: 600;
                    text-decoration: none;
                    transition-duration: 0.3s;
                }
                :hover{
                    color: var(--secondary);
                }
            }
            .search-icon{

                .search{

                    font-size: 22px;
                    color: var(--secondary);
                }
            }
        }
    }
}

#hero{
    
    height: 85vh;
    max-width: 100vw;

    background: linear-gradient(to left, rgba(92, 210, 185, 0.3) 0%, rgba(2, 1, 1) 60%), url(images/originall-view.png) ;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    background-blend-mode: screen;
    
    padding: 100px var(--global-padding);

    img{
        display: none
    }

    .container{
        position: absolute;
        display: flex;
        flex-direction: column;

        .head{
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 5px;
            text-transform: uppercase;
            
            color: var(--secondary);
            margin-bottom: 20px;
        }
        .main{
            max-width: 60%;

            text-transform: uppercase;
            font-size: 78px;
            font-weight: 700;
            position: relative;

            margin-bottom: 10px;

            .special{
                color: var(--secondary);
            }
        }

        .line{
            height: 3px;
            width: 100px;
            margin-bottom: 20px;
            background-color: var(--secondary);
        }
        .small{
            max-width: 40%;
            color: #aaaaaa;
            font-size: 16px;
            margin-bottom: 20px;
            line-height: 30px;

            margin-bottom: 50px;
        }
        .about-us{
            display: flex;
            align-items: start;
            gap: 20px;

            .play{

                position: relative;
                
                width: 80px;
                aspect-ratio: 1;
                border-radius: 50%;
                background-color: var(--secondary);

                .play-button{
                    
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    font-size: 30px;
                    position: relative;
                    z-index: 1000;
                }
            }
        }
        .play::before, .play::after {
            content: "";
            position: absolute;
            z-index: 0;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 75px;
            height: 75px;
            background: var(--secondary);
            border-radius: 50%;
        }       
        .play::before{
            animation: pulse-border 1500ms ease-out infinite;
        }        
        .play::after {
            animation: pulse-border-second 1500ms ease-out infinite;
        }

        .text{
            display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
            width: 11%;
            .word1{
                text-transform: uppercase;
                font-size: 20px;
                font-weight: 500;
                letter-spacing: 3px;

                margin-bottom: 5px;
            }
            .line{
                width: 100%;
                height: 1px;
                background-color: #6c6c6c;
                margin-bottom: 10px;
            }
            .word2{
                color: var(--secondary);
                text-transform: capitalize;
            }
        }
    }
}

#services{
    padding: 100px var(--global-padding);
    height: 100vh;
    background-color: var(--primary);
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .text{
            width: 40%;
            display: flex;
            flex-direction: column;

            .head{
                font-size: 22px;
                font-weight: 600;
                letter-spacing: 3px;
                color: var(--secondary);
                text-transform: uppercase;
                
                margin-bottom: 20px;
            }
            .main{
                font-size: 65px;
                font-weight: 700;
                text-transform: capitalize;

                margin-bottom: 10px;


                .special{
                    color: var(--secondary);
                }
            }
            .line{
                height: 4px;
                width: 100px;
                background-color: var(--secondary);

                margin-bottom: 20px;
            }
            .small{
                p{
                    width: 85%;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #9b9898;
                    
                    margin-bottom: 30px;
                }
            }
            .button{
                width: 150px;
                height: 70px;
                background-color: var(--secondary);
                transition-duration: .3s;
                
                .value{
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    font-size: 22px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            .button:hover{
                border: 2px solid var(--secondary);
                background-color: var(--primary);

                .value{
                    color: var(--secondary);
                }
            }
        }
        .graph{
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 60%;

            .col1{
                margin-top: -30px;
            }
            .col{

                
                .second{

                    background-image: linear-gradient(to top, rgba(92, 210, 185, 0.3) 0%, rgba(2, 1, 1) 100%);
                }
                .square{

                    
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    
                    padding: 35px 25px;
                    margin-bottom: 20px;
                    background-color: var(--dark-1);
                    
                    text-align: center;
                    
                    img{
                        width: 30%;
                        margin-bottom: 10px;
                    }
                    .head{
                        font-size: 30px;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-bottom: 20px;
                    }
                    .desc{
                        overflow: hidden;
                        color: #969696;
                        font-size: 18px;
                        font-weight: 500; 
                    }
                }
            }
        }
    }
}

#about-us{
    max-height: 100vh;
    position: relative;
    background-color: var(--dark-1);
    padding: 70px var(--global-padding);

    display: flex;
    justify-content: center;
    gap: 40px;

    .main-image{
        width: 40%;
        height: 100%;
        transform: translateY(60px);
    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .head{
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 3px;
            color: var(--secondary);
            text-transform: uppercase;
            
            margin-bottom: 20px;
        }
        .main{
            width: 90%;
            font-size: 60px;
            font-weight: 750;
            text-transform: capitalize;
            line-height: 60px;

            margin-bottom: 20px;

            .special{
                color: var(--secondary);
            }
        }
        .line{
            height: 4px;
            width: 100px;
            background-color: var(--secondary);

            margin-bottom: 20px;
        }
        .small{
            p{
                
                font-size: 18px;
                font-weight: 500;
                line-height: 35px;
                color: #adacac;
                
                margin-bottom: 30px;
            }
        }
        .graph{
            display: flex;
            justify-content: center;
            align-items: center;

            .each{

                display: flex;
                justify-content: center;
                align-items: flex-start;
                gap: 10px;
                
                img{
                    width: 80px;
                    aspect-ratio: 1;
                }

                .textt{
                    display: flex;
                    flex-direction: column;
                    padding-top: 30px;

                    .main{
                        font-size: 28px;
                        font-weight: 600;
                        margin-bottom: 30px;
                        line-height: 0;
                    }
                    .second{
                        width: 90%;
                        font-size: 17px;
                        color: #bababa;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

#first-break-line{

    padding: 80px var(--global-padding);
    background: linear-gradient(to right, #0f3d32cc 0%, #151515d8 80%), url(images/side-view-right.jpg);
    background-position: right;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;


    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .each{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0px;

            img{
                width: 80px;
            }

            p{
                font-size: 22px;
                font-weight: 500;
                text-transform: capitalize;

                .special{

                    font-size: 60px;
                    font-weight: 700;
                    color: var(--secondary);
                }
                i{
                    font-size: 22px;
                }
            }
        }
    }
}

#latest-project{
    padding: 100px var(--global-padding);

    .container{
        display: grid;  
        justify-content: baseline;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        column-gap: -2px;

        .article{

            grid-row: 1;
            grid-column: 1 / 3;
            
            padding: 30px 40px 0px 20px;
            
            .head{
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 3px;
                color: var(--secondary);
                text-transform: uppercase;

                margin-bottom: 20px;
            }
            .main{
                font-size: 65px;
                font-weight: 700;
                text-transform: capitalize;
                
                margin-bottom: 10px;
                
                
                .special{
                    color: var(--secondary);
                }
            }
            .line{
                height: 4px;
                width: 120px;
                background-color: var(--secondary);
                
                margin-bottom: 30px;
            }
            .small{
                p{
                    
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #aaa7a7;
                    
                    margin-bottom: 30px;
                }
            }        
            .done{
                display: flex;
                flex-direction: column;
                gap: 20px;

                .each{

                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 20px;

                    .correct-sign{

                        i{
                            font-size: 24px;
                            color: var(--secondary)
                        }
                    }
                    .words{
                        p{
                            font-size: 17px;
                            font-weight: 500;
                        }
                    }
                } 

            }
        }
        .grid-item{
            margin-bottom: -5px;
            object-fit: cover;

            img{
    
                width: 100%;
            }
            
        }
    }
}

#second-break-line{
    padding: 80px var(--global-padding);
    background: linear-gradient(to left, #0f3d32cc 0%, #151515d8 80%), url(images/side-face-left.jpg);
    background-position: left;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;


        .image{
            filter: grayscale(1);
            transition: 0.8s ease-in-out;
            
            
            img{

                width: 100%;
            }

        }
        .image:hover{
            filter: grayscale(0);
        }
    }
}

#portfolio{
    padding: 120px var(--global-padding);

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;

            .head{
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 3px;
                color: var(--secondary);
                text-transform: uppercase;

                margin-bottom: 20px;
            }
            .main{
                font-size: 62px;
                font-weight: 700;
                text-transform: capitalize;
                
                margin-bottom: 20px;
                
                
                .special{
                    color: var(--secondary);
                }
            }
            .line{
                height: 4px;
                width: 120px;
                background-color: var(--secondary);
                
                margin-bottom: 30px;
            }
            .small{
                text-align: center;

                p{
                    
                    padding: 0 12%;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #aaa7a7;
                    
                    margin-bottom: 30px;
                }
            }        

        }
        .images{
            display: grid;
            gap: 20px;
            /* grid-template-rows: 1fr 1fr 1fr; */
            grid-template-columns: 1fr 1fr 1fr;

            img{
                width: 100%;
            }
        }
    }
}

#testimonials{
    padding: 150px var(--global-padding);
    /* background-color: #151515; */
    background: linear-gradient(to left, #1515158d 0%, #15151595 50%), url(images/adadad.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .text{
            .head{
                font-size: 22px;
                font-weight: 500;
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 20px;

                p{
                    color: var(--secondary);
                }
            }
            .main{
                font-size: 62px;
                font-weight: 700;
                text-transform: capitalize;
                
                margin-bottom: 20px;
                
                
                .special{
                    color: var(--secondary);
                }
            }
            .line{
                height: 4px;
                width: 120px;
                background-color: var(--secondary);
                
                margin-bottom: 30px;
            }
            .small{

                p{
                
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 30px;
                    color: #aaa7a7;
                    
                    margin-bottom: 70px;
                }
            }    
            .button{
                /* width: 0%; */
                padding: 20px 20px;
                height: 70px;
                background-color: var(--secondary);
                transition-duration: .3s;
                
                .value{

                    font-size: 20px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
            }
            .button:hover{
                border: 2px solid var(--secondary);
                background-color: var(--primary);

                .value{
                    color: var(--secondary);
                }
            }
        }

        .feedback{
            margin: auto 0;
            height: 80%;
            padding: 40px 30px;
            background-color: #151515CF;

            .small{

                p{                    
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    color: #aaa7a7;
                    
                    margin-bottom: 30px;
                }
            }        
            .containerr{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 20px;
            }



            .user{
                display: flex;
                justify-content: space-between;
                align-items: center;    
                
                .data{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 20px;
                    
                    .image{
                        width: 80px;
                        aspect-ratio: 1;
                        background-image: url(images/11.jpg);
                        background-position: center;
                        background-size: cover;
                        
                        border-radius: 50%;
                    }
                    .informations{
                        text-transform: capitalize;
                        
                        .name{
                            font-size: 22px;
                            font-weight: 500;
                            margin-bottom: 18px;
                            transition: 0.3s;
                        }
                        .role{
                            font-size: 14px;
                            font-weight: 500;
                            color: var(--secondary);
                        }
                        .name:hover{
                            color: var(--secondary);
                        }
                    }
                }
                .quote{
                    
                    i{
                        font-size: 80px;
                        color: var(--secondary);
                    }
                }
            }
        }
    }
}

footer{
        
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(rgba(92, 210, 185, 0.15) 0%, rgba(2, 1, 1) 65%);
    padding: 100px;

    .logo{
    
        width: 300px;
        margin-bottom: 30px;
    }
    .icons{
        
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 30px;

        a{
            font-size: 18px;
            font-weight: 600;
            text-decoration: none;
            color: var(--secondary);
        }
    }
    .text{
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        text-align: center;
        width: 40%;

        margin-bottom: 50px;
    }
    .social-media{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;

        a{

            i{   
                font-size: 22px;
                color: var(--secondary);
            }
            
        }

    }
}

#copy-rights{

    text-align: center;
    padding: 20px 100px;

    p{
        color: #919191;
        font-size: 20px;
    }
}



/* KeyFrames */
/* ############### Hero Play Button */
@keyframes pulse-border {
    0% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
    
}

@keyframes pulse-border-second {
    35% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
        opacity: 0.5;
    }
    100% {
        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
        opacity: 0;
    }
}


