:root{
    --primary: #000000;
    --secondary: #5cd2b9;
    --dark-1: #0c0c0c;
    --dark-2: #111111;
    --light-dark: #151515;
    --white: #ffffff;


    --global-padding: 185px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
    color: var(--white);
}
a{
    text-decoration: none;
    
}
body{
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: var(--primary);
}

nav{
    height: 15vh;
    padding: 30px var(--global-padding);
    background-color: var(--dark-2);
    
    .container{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .logo{
            width: 200px;
        }
        .icons{
            
            display: flex;
            justify-content: space-around;
            gap: 45px;

            font-size: 18px;
            
            .button{
                
                a{
                    font-weight: 600;
                    text-decoration: none;
                    transition-duration: 0.3s;
                }
                :hover{
                    color: var(--secondary);
                }
            }
            .search-icon{

                .search{

                    font-size: 22px;
                    color: var(--secondary);
                }
            }
        }
    }
}


